---
import '../styles/global.css';
import { NavigationMenuMain } from '@/layouts/navigation.jsx';
import Main from '@/components/home/home.jsx';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Unifind</title>
	</head>

	<body>
		<NavigationMenuMain client:load />
		<Main client:only="react" />
	</body>
</html>
